/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-full-width.mat-focused .mat-input-placeholder {
  color: white;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}
.mat-input-element {
  caret-color: white !important;
}

.mat-focused .mat-form-field-label {
  color: white !important;
  }

  .mat-form-field-ripple {
  background-color: white !important;
  }
