<div>
	<div class="form-group row"> <!-- GUD -->
		<label class="col-xs-6 col-form-label">GUID</label>
		<div class="col-xs-6" class="text-label">{{user.guid}}</div>
	</div>

	<div class="form-group row"> <!-- Customer UID -->
		<label class="col-xs-6 col-form-label">Customer UID</label>
		<div class="col-xs-6" class="text-label">{{user.uid}}</div>
	</div>

	<div class="form-group row"> <!-- First Name -->
		<label class="col-xs-6 col-form-label">ชื่อ-นามสกุล</label>
		<div class="col-xs-6" class="text-label">{{user.first_name}}</div>
	</div>

	<div class="form-group row"> <!-- Last Name -->
		<label class="col-xs-6 col-form-label">สังกัด</label>
		<div class="col-xs-6" class="text-label">{{user.last_name}}</div>
  </div>

	<div class="form-group row"> <!-- Zip Code -->
		<label class="col-xs-6 col-form-label">เบอร์</label>
		<div class="col-xs-6" class="text-label">{{user.zipcode}}</div>
	</div>

	<div class="form-group row"> <!-- E-mail -->
		<label class="col-xs-6 col-form-label">อีเมลล์</label>
		<div class="col-xs-6" class="text-label">{{user.email}}</div>
  </div>
  <br><br>
	<nav style="text-align:right">
      <a routerLink="/">เริ่มลงทะเบียนใหม่</a>
  </nav>
</div>
